<!doctype html>
<html>
<head>
    <title>Resource Available Indicator</title>
    <meta charset="utf-8">
    <link href="../../public/stylesheets/bootstrap.css" rel="stylesheet">
    <script src="../../public/javascripts/jquery-1.11.0.min.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        {{>menu}}
    </div>
</div>
<div class="container">
    <br><br><br><br>
    {{{body}}}
</div>
<script src="../../public/javascripts/bootstrap.min.js"></script>
</body>
</html>