<div class="container">
    <div   class="well">First Floor</div>
    <div class="well">
        <div class="row">
            <div class="col-md-2">Wash Room 1</div>
            <div class="col-md-2" ><div  style="background-color: red; height: 20px; width: 20px" data-bind="text: washRoomOne"></div></div>
            <div class="col-md-2">Wash Room 2 </div>
            <div class="col-md-2"> <div style="background-color: green; height: 20px; width: 20px"> </div></div>
            <div class="col-md-2">Wash Room 3 </div>
            <div class="col-md-2"> <div style="background-color: red; height: 20px; width: 20px">      </div> </div></div>
        </div>
    </div>
    </div>
<script src="/public/javascripts/application/indicator.js"></script>
<script src="/public/javascripts/knockout-latest.js"></script>