<div class="container">
    <div   class="well">First Floor</div>
    <div class="well">
        <div class="row">
            <div class="col-md-2">Wash Room 1</div>
            <div class="col-md-2" ><div  data-bind="text: washRoomOne"></div></div>
            <div class="col-md-2">Wash Room 2 </div>
            <div class="col-md-2"> <div > </div></div>
            <div class="col-md-2">Wash Room 3 </div>
            <div class="col-md-2"> <div > </div> </div></div>
        </div>
    </div>
    </div>
<script src="/public/javascripts/application/indicator.js"></script>
<script src="/public/javascripts/knockout-latest.js"></script>